*{box-sizing: border-box;
    margin: 0;
    padding: 0;}
    body{background-image: url("mc1.png"), url("paper.gif");
    background-color: #cccccc;
  }
body{border: 1px dashed rgb(36, 32, 32); 
        /* background-color: rgb(169, 108, 191); */
        min-height: 100vh; 
        margin: auto;}
.container{border: 1px solid rgb(36, 32, 32);
            background-color: rgb(226, 250, 250);
       
            margin: 10px auto; 
            padding-block:20px ;
            padding-inline: 20px;
            width: 300px;
            min-width: 200px;
            text-align: center;
            margin-top: 110px;
            margin-bottom: 50px;
            border-radius: 20px;  
            box-shadow: -10px 0px 116px 22px rgba(252,236,236,0.74);
        }
        
        .item{
            margin-top: auto;
            border: 0px solid rgb(36, 32, 32);
             /* width: min-content;  */
            /* max min */
            border-radius: 20px;
            margin: auto;}
            .item1{
                font-size: 30px;
                margin-top: 1px auto;
                border: 0px solid rgb(36, 32, 32);
                 /* width: min-content;  */
                /* max min */
                text-shadow: -2px 2px 15px rgba(0,0,0,0.62);
                margin: 1px auto;
            }


                .profile{
                    border-radius: 19px; 
                    width:100%;
                 text-align:content;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5); /* ปรับความทึบสีตามต้องการ */
                     /* ทำให้ overlay ไม่บังกับการคลิกหรือแตะ */
                  }
                  .locol{position: fixed auto;
                    font-weight: bold;
                    position: relative;
                    left: 140px;
                    bottom: 500px;
                    border-radius: 100px; 
                    background-color:rgb(216, 35, 35);
                    text-align: center ;
                    color: #000;
                    margin: auto;
                    font-size: 25px;
                    width: 50px;
                    height: 50px;
                    padding: 9px 9px ;
                    box-shadow: 23px -2px 153px 52px rgba(0,0,0,0.75);
                    

                  }
                  .locol1{position: fixed auto;
                    font-weight: bold;
                    font-size: 20px;
                    position: relative;
                    right: 155px;
                    bottom: 518px;
                    border-radius: 40px; 
                    text-align: center ;
                    color: #f80000;
                    margin: auto;
                    width: 40px;
                    height: 40px;
                    padding: 12px 15px ;
                   
                
                  }
                  
                  /* .containev {
                    position: relative;
                    width: 100%;
                    max-width: 400px;
                  }
                  
                  
                  .containev .btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    background-color: #f10b0b;
                    color: black;
                    font-size: 16px;
                    padding: 16px 30px;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                    text-align: center;
                  }
                  
                  .containev .btn{
                    background-color: black;
                    color: white;
                  } */
                  .containev {
                    position: relative;
                    width: 100%;
                    max-width: 400px;
                  
                  }
                  
                  .containev .btn {
                    position: absolute;
                    font-weight: bold;
                    position: relative;
                    left: -130px;
                    bottom:430px;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    background-color: #fafafa;
                    color: rgb(212, 4, 4);
                    font-size: 25px;
                    padding: 3px 10px;
                    border: none;
                    cursor: pointer;
                    border-radius: 50% ;
                    text-align: center;
                   
                  }
                  
                  .containev .btn:hover {
                    background-color: rgb(1, 0, 0);
                    color: rgb(255, 255, 255);
                  }
                                        /* color: red;
                        font-weight: bold;
                        font-size: 40px;
                        position: relative;
                        left: 100px;
                        bottom: 570px;
                        width: 50px;
                        height: 50px;
                        border-radius: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 2px 5px 10px black;
} */